@font-face {
  font-family: 'manksa';
  src: url('manksa_typeface/manksa.ttf') format('truetype'),
    url('manksa_typeface/manksa.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
