// Import Bulma's initial variables

@import "~bulma/sass/utilities/initial-variables";

$family-sans-serif: "Montserrat", "Helvetica", sans-serif;
$family-serif: "vollkorn";
//$size-1: 3rem !default
//$size-2: 2.5rem !default
//$size-3: 2rem !default
//$size-4: 1.5rem !default
//$size-5: 1.25rem !default
//$size-6: 1rem !default
//$size-7: 0.75rem !default

$size-1: 4rem;
$size-2: 3.25rem;
$size-3: 2.75rem;
$size-4: 1.75rem;
$size-5: 1.5rem;
$size-6: 1.25rem;

$size-small: 1rem;

$body-weight: $weight-medium;

$brown: #8d6036;
$brown-lighter: #8c6b4f;
$brown-darker: #65482e;
$white: #f8f8f8;

$green: #5d8c2c;
$green-lighter: #b9d094;
$green-darker: #4f6d1a; //darken($green, 10%);
$dark: $brown;

$cyan: #3e6393;
$blue: #376aad;

$primary: $green;
$text: $brown-darker;

$link: $brown;
$link-hover: $brown-darker;

@import "~bulma/bulma";
@import "~font-awesome/css/font-awesome.min.css";

em {
  font-style: italic;
}
strong {
  color: inherit;
}
.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $family-serif;
    color: $brown;
  }
}
.navbar-link {
  padding-right: 1.75em;
  &::after {
    right: 0.75em;
  }
}
.navbar-item {
  font-size: $size-5;
}
.title,
.subtitle {
  color: $brown-darker;
}
.section {
  padding: 2rem 1.5rem;
}
.heading {
  font-family: $family-serif;
  font-size: $size-6;
  color: $brown;
  text-transform: lowercase;
}
.button {
  font-family: $family-serif;
  text-transform: lowercase;
}
.notification {
  &.is-light {
    border: 1px solid $brown-lighter;
  }
}
address {
  font-style: normal;
}
.link {
  text-transform: lowercase;
}
